<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Page</title>
</head>

<body>
<br>
<form action="/add" method="post" th:object="${add_model.new_student}" onsubmit="return checkEmpty()">
    学号：<input type="text" name="stuno" id="stuno_check" th:value="*{stuno}"><br><br>
    姓名：<input type="text" name="stuname" id="stuname_check" th:value="*{stuname}"><br><br>
    年龄：<input type="text" name="stuage" th:value="*{stuage}"><br><br>
    电话：<input type="text" name="stuphone" th:value="*{stuphone}"><br><br><br>
    <input type="submit" value="添加">
</form>

</body>
</html>

<script type="text/javascript">
    function checkEmpty(){//js表单验证方法
        var text_stuno=document.getElementById("stuno_check").value;//通过id获取需要验证的表单元素的值
        var text_stuname=document.getElementById("stuname_check").value;
        if(text_stuno=="" || text_stuname==""){//当上面获取的值为空时
            alert("学号与姓名均不能为空");//弹出提示
            window.location.href="display";
            return false;
        }
        return true;//提交表单
    }
</script>