<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Page</title>
</head>
<body>
<a href="/addPage">新增</a>

    <table border="1px">
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>电话</th>
            <th>操作</th>
        </tr>
        <tr th:each="stu:${students}">
            <td th:text="${stu.stuno}"></td>
            <td th:text="${stu.stuname}"></td>
            <td th:text="${stu.stuage}"></td>
            <td th:text="${stu.stuphone}"></td>
            <td>
                <a th:href="@{updatePage(update_no=${stu.stuno})}">更新</a>
                <a th:href="@{delete(del_no=${stu.stuno})}">删除</a>
            </td>
        </tr>

    </table>

</body>
</html>