<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>

<form action="/update" method="post" th:object="${update_model.student_tobeUpdate}">
    学号：<input type="text" name="stuno" th:value="*{stuno}" readonly>
    姓名：<input type="text" name="stuname" th:value="*{stuname}">
    年龄：<input type="text" name="stuage" th:value="*{stuage}">
    电话：<input type="text" name="stuphone" th:value="*{stuphone}">
    <input type="submit" value="修改">
</form>

</body>
</html>